// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

a {
  color: #white;

  &:visited {
    color: #666;
  }

  &:hover {
    opacity: 0.3;
    background-color: #CD2F2A;
  }
}

.feed_link {
  &:hover {
    opacity: 0.7;
    background-color: #fff;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  // display: table;
  display: inline;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

  .paginate {
    margin-top: 15px
  }


#feedImage{
  max-width: 100%;
  height: auto;
}

#feed_card3 {
  margin:0 auto;
}

// user/show,feed/favorite,parthicipante,search
#feed_list{
  margin:0 auto;
}

#error_explanation ul li {
  list-style: none;
}

#error_explanation {
  margin:0 auto;
}

.feed_show {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search_reslut {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    background-color: #F5F5F5;
    opacity: 0.7;
  }
}

.new_account {
  background-color: white;
  width: 250px;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p .image_icon {
  border-style: solid;
  border-width: thin;
  border-color: #9C9C9D;
}

td .image_icon {
  border-style: solid;
  border-width: thin;
  border-color: #9C9C9D;
}
.image_icon {
  border-style: solid;
  border-width: thin;
  border-color: #9C9C9D;
}

.image_icon.img-fluid {
  border-style: solid;
  border-width: thin;
  border-color: #9C9C9D;
}

.account_pic {
  border-radius: 30px
}

.post_from{
  background-color: white;
  margin-right: 5px;
}

.image_field {
  padding-top: 5px;
}
